<%
var featured_websites = [
  { name: "wikipedia.org", url: "https://en.wikipedia.org/" },
  { name: "wikia.com", url: "http://www.wikia.com/" },
  { name: "stackoverflow.com", url: "http://stackoverflow.com/" },
  { name: "quora.com", url: "https://www.quora.com/" },
  { name: "wikihow.com", url: "http://www.wikihow.com/" }
];
var supported_websites = [
  // English
  { name: "engadget.com", url: "http://www.engadget.com/" },
  { name: "theverge.com", url: "http://www.theverge.com/" },
  { name: "stackexchange.com", url: "http://stackexchange.com/" },
  { name: "thenextweb.com", url: "http://thenextweb.com/" },
  { name: "techcrunch.com", url: "http://techcrunch.com/" },
  { name: "mashable.com", url: "http://mashable.com/" },
  { name: "venturebeat.com", url: "http://venturebeat.com/" },
  { name: "businessinsider.com", url: "http://www.theverge.com/" },
  { name: "androidcentral.com", url: "http://www.androidcentral.com/" },
  { name: "windowscentral.com", url: "http://www.windowscentral.com/" },
  { name: "imore.com", url: "http://www.imore.com/" },
  { name: "androidcommunity.com", url: "http://androidcommunity.com/" },
  { name: "wired.com", url: "http://www.wired.com/" },
  { name: "geekwire.com", url: "http://www.geekwire.com/" },
  { name: "macrumors.com", url: "http://www.macrumors.com/" },
  { name: "9to5mac.com", url: "http://9to5mac.com/" },
  { name: "9to5google.com", url: "http://9to5google.com/" },
  { name: "9to5toys.com", url: "http://9to5toys.com/" },
  { name: "androidheadlines.com", url: "http://www.androidheadlines.com/" },
  { name: "huffingtonpost.com", url: "http://www.huffingtonpost.com/" },
  { name: "arstechnica.com", url: "http://arstechnica.com/" },
  { name: "buzzfeed.com", url: "http://www.buzzfeed.com/" },
  { name: "news.discovery.com", url: "http://news.discovery.com/" },
  { name: "fortune.com", url: "http://fortune.com/" },
  { name: "bloomberg.com", url: "http://www.bloomberg.com/" },
  { name: "pcworld.com", url: "http://www.pcworld.com/" },
  { name: "pcmag.com", url: "http://www.pcmag.com/" },
  { name: "popularmechanics.com", url: "http://www.popularmechanics.com/" },
  { name: "vogue.com", url: "http://www.vogue.com/" },
  { name: "technobuffalo.com", url: "http://www.technobuffalo.com/" },
  { name: "extremetech.com", url: "http://www.extremetech.com/" },

  // Vietnamese
  { name: "vnexpress.net", url: "http://vnexpress.net/" },
  { name: "kenh14.vn", url: "http://kenh14.vn/" },
  { name: "genk.vn", url: "http://genk.vn/" },
  { name: "tinhte.vn", url: "https://www.tinhte.vn/" },
  { name: "24h.com.vn", url: "http://24h.com.vn/" },
  { name: "soha.vn", url: "http://soha.vn/" },
  { name: "techz.vn", url: "http://www.techz.vn/" },
  { name: "vnreview.vn", url: "http://vnreview.vn/" },
  { name: "ictnews.vn", url: "http://ictnews.vn/" },
  { name: "vechai.info", url: "http://vechai.info/" }
];
featured_websites.sort(function(a, b){
  if(a.name < b.name) return -1;
  if(a.name > b.name) return 1;
  return 0;
});
supported_websites.sort(function(a, b){
  if(a.name < b.name) return -1;
  if(a.name > b.name) return 1;
  return 0;
});
%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.ico">

  <title>Scraper</title>

  <% include styles %>

  <style type="text/css">
  .navbar {
    background-color: #9F2274;
    min-height: 40px;
  }
  img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #sc-main-container {
    padding-top: 10px;
    margin-top: 30px;
  }
  .sc-form-input {
    background-color: white;
    padding: 3px 15px;
    box-shadow: 0 1px 2px rgba(43,59,93,0.29);
  }
  .sc-project-list {
    background-color: white;
    padding: 15px;
    color: #444;
    list-style: none;
    box-shadow: 0 1px 2px rgba(43,59,93,0.29);
    border-radius: 3px;
  }
  .sc-project-item {
    position: relative;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #eee;
  }
  .sc-project-item-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;
  }
  .sc-project-item-title a {
    color: #9f224e;
  }
  .sc-project-item-description {
    line-height: 1.6;
    margin-bottom: 0;
  }
  .sc-project-item-timestamp {
    font-size: 12px;
    color: #999;
    margin-bottom: 0;
  }
  .sc-project-item-actions {
    position: absolute;
    right: 0;
    top: 20px;
  }
  </style>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

  <a id="back-to-top" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-chevron-up"></i></a>
  
  <!-- Begin page content -->
  <div id="sc-main-container" class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="sc-icon-title"><a href="/">Scraper</a></h1>
        <img src="/img/scraper-intro-scale.png" class="center" style="box-shadow: 0 1px 2px rgba(43,59,93,0.29);display: none;">
        <form style="display: inline" action="/scraper" method="get">
          <div class="input-group" style="margin-top: 10px;margin-bottom: 10px;width: 100%;">
            <input name="link" type="text" class="form-control" placeholder="Enter link here..."
              style="background-color: white;padding: 3px 15px;box-shadow: 0 1px 2px rgba(43,59,93,0.29);">
            <span class="input-group-btn hidden">
              <button type="submit" class="btn btn-primary" 
                style="margin-left: 10px;"><i class="fa fa-play"></i></button>
            </span>
          </div><!-- /input-group -->
        </form>
        <h5 class="sc-website-list">
          <span><strong>Support (<%=supported_websites.length + featured_websites.length%>)</strong></span> 
          <span id="sc-featured-websites">
<%for (var i = 0; i < featured_websites.length; i++) {%>
            <a href="<%=featured_websites[i].url%>" target="_blank"><%=featured_websites[i].name%></a> 
<%}%>
          </span>
<%if (supported_websites.length) {%>
          <span id="sc-supported-websites" class="hidden">
<%  for (var i = 0; i < supported_websites.length; i++) {%>
            <a href="<%=supported_websites[i].url%>" target="_blank"><%=supported_websites[i].name%></a> 
<%  }%>
          </span>
          <small><a id="sc-supported-websites-show-hide" href="#" 
              data-state="hidden" style="background-color: #AAA;">(more)</a></small>
<%}%>
        </h5>
      </div>

      <div class="col-md-12" style="margin-bottom: 40px;">
        <ul id="sc-project-list" class="sc-project-list">
          <h3 style="margin: 0;text-align: left;">Projects <span id="sc-project-count"></span></h3>
        </ul>
        <div id="sc-project-list-loading" class="loader hidden">
          <img src="/svg/loader.svg" />
        </div>
      </div>

      <div class="col-md-12" style="text-align: center;">
        <form id="sc-new-project-form" style="text-align: center;" action="/projects/add" method="post">
          <input id="sc-new-project-name" name="name" type="text" class="form-control" placeholder="Project name"
            style="background-color: white;padding: 3px 15px;box-shadow: 0 1px 2px rgba(43,59,93,0.29);max-width: 800px;margin: 0 auto;">
          <input id="sc-new-project-description" name="description" type="text" class="form-control sc-form-input" 
            placeholder="Project description" style="background-color: white;padding: 3px 15px;box-shadow: 0 1px 2px rgba(43,59,93,0.29);max-width: 800px;margin: 0 auto;">
          <button id="sc-new-project-submit" type="submit" class="btn btn-primary" style="margin-top: 20px;">Add new project <i class="fa fa-play"></i></button>
          <a class="btn btn-success" href="/playground" style="margin-left: 20px; margin-top: 20px;">Playground <i class="fa fa-play"></i></a>
        </form>
        <div style="text-align:center;margin-top: 20px;">
          <div id="sc-new-project-submit-loading" class="loader-inline hidden">
            <img src="/svg/loader.svg" />
          </div>
        </div>
      </div>

    </div>

  </div>

  <footer class="footer">
    <div class="container">
      <div style="text-align: center; display: none;">
        <a href="https://chrome.google.com/webstore/detail/julscraper/ighhlimilnnkekjbfeopdilljknkephg" 
          target="_blank" style="font-size: 25px;" data-toggle="tooltip" title="Install Google Chrome Extension"><i class="ion ion-social-chrome"></i> </a>
      </div>
      <p class="text-muted">Scraper &copy; 2015 Jul11Co</p>
      <p class="text-muted">Powered by <a href="https://nodejs.org" target="_blank">NodeJS</a>, <a href="http://expressjs.com/" target="_blank">ExpressJS</a>, <a href="http://ejs.co/" target="_blank">EJS</a>, <a href="http://cheeriojs.github.io/cheerio/" target="_blank">Cheerio</a>, <a href="https://codemirror.net/" target="_blank">CodeMirror</a>, <a href="http://jsbeautifier.org/" target="_blank">JSBeautifier</a>, <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> <a href="https://bootswatch.com/paper/" target="_blank">Paper</a></p>
    </div>
  </footer>

  <% include scripts %>

  <script type="text/javascript">
  function addProjectAjax(project_info, callback) {
    console.log('Add project');
    console.log(project_info);
    $.ajax({
      url: '/projects/add',
      type: 'post',
      data: project_info
    }).success(function (res){
      callback(null, res);
    }).error (function (err){
      console.log(err);
      callback(err);
    });
  }
  function getProjectsAjax(callback) {
    $.ajax({
      url: '/projects/list',
      type: 'get',
      dataType: 'json'
    }).success(function (res){
      callback(null, res);
    }).error (function (err){
      console.log(err);
      callback(err);
    });
  }
  function renderProjectItem(project) {
    var project_item_html = '' +
    '<li class="sc-project-item" data-project-id="' + project._id + '">' +
      '<h5 class="sc-project-item-title"><a href="/projects/' + project._id + '">' + project.name + '</a></h5>' +
      '<div style="overflow:hidden;">' +
        '<p class="sc-project-item-description">' + project.description + '</p>' +
        '<p class="sc-project-item-timestamp">' +
          '<span><i class="fa fa-clock-o fa-fw"></i> Created at: </span>' +
          '<span class="date-time" data-date-time="' + project.created_at + '">' + project.created_at + '</span>' +
        '</p>' +
        '<p class="sc-project-item-timestamp">' +
          '<span><i class="fa fa-clock-o fa-fw"></i> Last update: </span>' +
          '<span class="date-time" data-date-time="' + project.last_update + '">' + project.last_update + '</span>' +
        '</p>' +
        '<p class="sc-project-item-actions">' +
          '<span><a class="btn btn-info btn-sm sc-project-item-view" ' +
            'href="/projects/' + project._id + '">view project <i class="fa fa-chevron-right" style="margin-left: 5px;"></i></a></span>' +
        '</p>' +
      '</div>' +
    '</li>';
    return project_item_html;
  }
  function loadProjects() {
    $('#sc-project-list-loading').removeClass('hidden');
    getProjectsAjax(function(err, res) {
      $('#sc-project-list-loading').addClass('hidden');
      if (!err && res && res.projects) {
        console.log(res);
        // Sort projects by update time
        res.projects.sort(function(a, b){
          var dateA = new Date(a.last_update),
          dateB = new Date(b.last_update);
          return dateB-dateA;
        });
        for (var i = 0; i < res.projects.length; i++) {
          var project = res.projects[i];
          $('#sc-project-list').append(renderProjectItem(project));
        }
        updateDateTime();
      }
    });
  }
  $(function() {
    $('#sc-new-project-form').submit(function(e) {
      e.preventDefault();
      var project_name = $('#sc-new-project-name').val();
      if (project_name && project_name !== '') {
        var project_description = $('#sc-new-project-description').val();
        var project_info = {
          name: project_name,
          description: project_description
        };
        $('#sc-new-project-submit').addClass('hidden');
        $('#sc-new-project-submit-loading').removeClass('hidden');
        addProjectAjax(project_info, function(err, res) {
          if (err) {
            $('#sc-new-project-submit-loading').addClass('hidden');
            $('#sc-new-project-submit').removeClass('hidden');
          } else {
            console.log(res);
            setTimeout(function() {
              $('#sc-new-project-submit-loading').addClass('hidden');
              window.location.href = '/projects/' + res.project_id;
            }, 2000);
          }
        });
      }
    });
    $('#sc-supported-websites-show-hide').on('click', function(e) {
      e.preventDefault();
      var state = $(this).attr('data-state');
      if (state == 'hidden') {
        $('#sc-supported-websites').removeClass('hidden');
        $(this).attr('data-state', 'shown');
        $(this).html('(less)');
      }
      if (state == 'shown') {
        $('#sc-supported-websites').addClass('hidden');
        $(this).attr('data-state', 'hidden');
        $(this).html('(more)');
      }
    });
    loadProjects();
    setInterval(updateDateTime, 60000);
  });
  </script>

</body>
</html>